/*base*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;

}

body {
  background-image: url("../assets/webAssets/Coffe.BackgroundGreat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: moverFondo 40s linear infinite;
}

@keyframes moverFondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

/*reutilisabes*/
.section {
  padding: 4.5rem 0 2rem;
}

.sectiontitle {
  font-size: 2.25rem !important;
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/*header*/

.header {
  width: 100%;
  background: linear-gradient(90deg, #b5c74d  0%, #344d05 50%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navL {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 500;
}

.navL-img {
  width: 1.25rem;
}

.navLink,
.navL,
.navToggle,
.navclose {
  color: #fff;
}

.navToggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .navM {
    position: fixed;
    width: 100%;
    background: #000c32;
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: 0.4s;
    z-index: 100;
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

.navclose {
  font-size: 1.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  cursor: pointer;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.navLink {
  text-transform: uppercase;
  font-weight: 900;
  transition: 0.4s;
}

.navLink:hover {
  color: #fff;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.scroll-header {
  background: #000c32;
}

/* Active link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}

/*HOME*/

.homecont {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
}

.homedata {
  max-width: 700px;
  text-align: center;
}

.hometitle {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: #000;
}

.homedes {
 background: #344d05;
  padding: 1.5rem 2rem;                 
  border-radius: 1rem;                  
  border: 2px solid #344d05;            
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  text-align: center;
  backdrop-filter: blur(8px);
  color: #000;
}

.homegroup {
  display: grid;
  position: relative;
  padding-top: 2rem;
}

.homeimg {
  height: 250px;
  width: 100%;
  justify-self: center;
}

.hometitle {
  font-size: 4rem;
  font-weight: 900;
  line-height: 109%;
  margin-bottom: 1rem;
  color : #fff;
}

.homebut {
  display: flex;
}

.homebut a {
  margin-left: 10px;
}

.swiper-pagination {
  position: initial;
  margin-top: 1rem;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: #fff;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 5px;
  border-radius: 0.5rem;
}

/*BUTTONS*/
.button {
    display: inline-block;
    background-color: #344d05;
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: 500;
    transition: .3s;
}

.button:hover {
    background-color: #b5c74d;
}


.buttonicon {
    font-size: 1.25rem;
}


/*CATEGORIA*/
.categorycontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
}

.categorydata {
    text-align: center;
}

.categoryimg {
    width: 120px;
    margin-bottom: .75rem;
    transition: 3s;
}

.categorytitle {
    margin-bottom: .25rem;
}


.categorydata:hover .categoryimg {
    transform: translateY(-.5rem);
}


/*ABOUT*/
.aboutcontainer {
    row-gap: 2rem;
}

.aboutdata {
    text-align: center;
}

.aboutdescription{
     background: #344d05;
  padding: 1.5rem 2rem;                 
  border-radius: 1rem;                  
  border: 2px solid #344d05;            
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  text-align: center;
  backdrop-filter: blur(8px);
  color: #000;
}
.aboutimg {
    width: 200px;
    justify-self: center;
}

/*MEMBERS*/
.membercontainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); 
  gap: 2rem;
  justify-items: center;                  
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;                         
}

.membercontent{
    position: relative;
    background: #344d05;
    border-radius: 1rem;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    overflow: hidden;
    width: 100%;                           
    max-width: 250px;                      
}

.memberimg {
    width: 120px;          
    height: 120px;        
    object-fit: cover;     
    border-radius: 50%;    
    transition: .3s;
}

.membercontent:hover .memberimg {
    transform: translateY(-.5rem);
}

.memberbutton {
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    right: -3rem;
    bottom: 0;
}

.membercontent:hover .memberbutton {
    right: 0;
}


/*CONTROLES*/
.newimg {
    width: 120px;
    margin-bottom: .5rem;
    transition: .3s;
}
.newcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0;
}

.newcontent {
  position : relative;
  background: #344d05;
  border-radius: 1.2rem;
  padding: 2rem 1.5rem;
  text-align: center;
}

.newtag {
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: #000000;
    color: #b5c74d;
    font-size: .813rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.newtitle {
    font-size: .938rem;
    font-weight: 500;
}

.newsubtitle {
    display: block;
    font-size: .813rem;
    margin-bottom: .5rem;
}

.newprices {
    display: inline-flex;
    align-items: center;
    margin-bottom: .5rem;
}

.newbutton {
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
}

.newicon {
    font-size: 1.25rem;
}

.newcontent:hover .newimg {
    transform: translateY(-.5rem);
}

.newcontent:hover .newbutton {
    right: 0;
}


/*NOTICIAS*/
.newsld {
    text-align: center;
    margin-bottom: 1.5rem;
}

.newslf {
    background: #344d05;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: .75rem;
}


.newslin {
    width: 70%;
    padding: 0 .5rem;
    background: none;
    color: #fff;
}

.button2 {
    display: inline-block;
    background: #0557fc;
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: .3s;
}

.newslin::placeholder {
    color: #fff;
}

/*scroll up */
.scrollup{
  position: fixed;
  background: #000C32;
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: .3rem;
  border-radius: .25rem;
  z-index:10;
  opacity: .8;
  transition: .4s;
}

.scrollupicon{
  font-size: 1.25rem;
  color: #fff;
}

.scrollup:hover{
  background: #000C32;
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 0.6rem;
    background: #413e3e;
}
::-webkit-scrollbar-thumb {
    background: #272525;
    border-radius: .5rem;
}

/*RESPONSIVE */


@media (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .homeimg {
        height: 200px;
    }
    .homebut {
        flex-direction: column;
        width: max-content;
        row-gap: 1rem;
    }
    .categorycontainer, 
    .productcontainer {
        grid-template-columns: .8fr;
        justify-content: center;
    }
    
}


@media (min-width: 576px) {
    .aboutcontainer {
        grid-template-columns: .8fr;
        justify-content: center;
    }

    .newslc{
        display: grid;
        grid-template-columns: .7fr;
        justify-content: center;
    }
    .newsld {
        padding: 0 3rem;
    }

}

@media (min-width: 767px) {
    body {
        margin: 0;
    }
    .section {
        padding: 7rem 0 2rem;
    }
    .nav {
        height: calc(3.5rem + 1.5rem);
    }
    .navclose, 
    .navToggle {
        display: none;
    }
    .navList {
        flex-direction: row;
        column-gap: 3rem;
    }
    .navLink {
        text-transform: initial;
        font-weight: initial;
    }
    .homecont {
        padding: 8rem 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .homeimg {
        height: 300px;
    }

    .swiper-pagination {
        margin-top: 2rem;
    }

    .categorycontainer {
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
    }
    .aboutcontainer {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .abouttitle,
    .aboutdata {
        text-align: initial;

    }
    .aboutimg {
        width: 250px;
    }
    .productcontainer {
        grid-template-columns: repeat(4,200px);
        justify-content: center;
        gap: 2rem;
    }

    .discountcontainer {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        padding: 3rem 0;
        border-radius: 3rem;
    }

    .discountimg {
        width: 350px;
        order: -1;
    }

    .discountdata {
        padding-right: 6rem;
    }

    .newslc {
        grid-template-columns: .5fr;
    }

    .footercontainer {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: 1rem;
    }

    
}

@media (min-width: 992px) {

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .sectiontitle {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .homecont {
        padding-top: 9rem;
        gap: 3rem;
    }
    .homegroup {
        padding-top: 0;
    }
    .homeimg {
        height: 400px;
        transform: translateY(-3rem);
    }
    .homeindicator {
        top: initial;
        right: initial;
        bottom: 15%;
        left: 45%;
    }
    .homeindicator::after {
        top: 0;
        height: 75px;
    }

    .homedetails-img {
        bottom: 0;
        right: 58%;

    }

    .hometitle {
        margin-bottom: 1.5rem;
    }
    .homedes {
        margin-bottom: 2.5rem;
        padding-right: 2rem;
    }
    .categorycontainer {
        column-gap: 8rem;
    }

    .categoryimg {
        width: 200px;
    }
    .aboutcontainer {
        column-gap: 7rem;
    }
    .aboutimg {
        width: 350px;
    }
    .aboutdescription {
        padding-right: 2rem;
    }
    .productcontainer {
        gap: 3.5rem;
    }
    .productcontent {
        border-radius: 1.5rem;
    }
    .productimg {
        width: 110px;

    }

    .producttitle {
        font-size: 1rem;
    }
    .discountcontainer {
        column-gap: 7rem;
    }

    .newcontent {
        width: 310px;
        border-radius: 1rem;
        padding: 2rem 0;
    }

    .newimg {
        width: 150px;
    }
    .newimg,
    .newsubtitle {
        margin-bottom: 1rem;
    }

    .newtitle {
        font-size: 1rem;
    }

    .footercopy {
        margin-top: 6rem;
    }

}

@media (min-width: 1200px) {

    .homeimg {
        height: 420px;   
    }

    .swiper-pagination {
        margin-top: 2.5rem;
    }
}


#canvas {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

/* Contenedor del juego */
#canvasWrapper {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#canvasWrapper.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #015801, #007e00);
}

#canvas {
  width: 800px;
  height: 600px;
}

.fullscreenButton {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7rem 1rem;
  background: #344d05;
  color: white;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  z-index: 10;
  transition: all 0.3s ease;
}

.fullscreenButton.fullscreen {
  position: fixed ;
  top: 15px ;
  right: 15px ;
  bottom: auto ;
  left: auto ;
  transform: none ;
}