h1 {
  color: blue;
  text-align: center;
}

.clase {
  color: red;
}

p {
  text-align: end;
  text-decoration-line: overline;
  text-decoration-style: wavy;
  text-decoration-color: blue;
}

ul {
  line-height: 300%;
}

